<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{> partials/head}}
</head>

<body class="min-h-lvh flex flex-col bg-bg text-fg">
    {{> partials/header}}

    <div class="flex flex-1 relative">
        <div class="layout">
            <main id="app-content" class="flex-1 transition-all duration-300">
                {{{body}}}
            </main>
        </div>
        
        <!-- Sidebar Overlay (for mobile) -->
        <div id="sidebar-overlay" class="fixed inset-0 bg-bg/50 opacity-0 transition-opacity duration-300 ease-in-out pointer-events-none z-10 md:hidden"></div>
        
        <!-- Right Sidebar -->
        <aside id="sidebar" class="flex flex-col bg-bg fixed top-0 right-0 w-[300px] h-screen overflow-hidden bg-background border-l border-border shadow-lg translate-x-full transition-transform duration-300 ease-[cubic-bezier(0.32,0.72,0,1)] z-20 text-sidebar-foreground">
                <div id="sidebar-content" class="pt-14 flex h-full flex-col">
                    {{> components/chat/wrapper}}
                </div>
        </aside>
    </div>

    {{> partials/footer}}
    <script type="module" src="/public/js/router.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('app-content');
            const overlay = document.getElementById('sidebar-overlay');
            const closeButton = document.getElementById('close-sidebar-mobile');
            
            // Function to toggle sidebar
            window.toggleSidebar = function() {
                sidebar.classList.toggle('translate-x-full');
                sidebar.classList.toggle('translate-x-0');
                overlay.classList.toggle('opacity-0');
                overlay.classList.toggle('opacity-100');
                overlay.classList.toggle('pointer-events-none');
                overlay.classList.toggle('pointer-events-auto');
                
                // For desktop behavior
                if (window.innerWidth >= 1024) {
                    content.classList.toggle('w-[calc(100%-300px)]');
                    content.classList.toggle('mr-[300px]');
                }
            };
            
            // Close sidebar when clicking overlay (mobile)
            overlay.addEventListener('click', window.toggleSidebar);
            
            // Close sidebar with mobile close button
            closeButton.addEventListener('click', window.toggleSidebar);
        });
    </script>
</body>

</html>