<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}}{{else}}ft_transcendence{{/if}}</title>
    {{> partials/head}}
</head>

<body class="min-h-lvh flex flex-col">

    <div id="app-content" class="flex-1">
        {{{body}}}
    </div>

    <script type="module" src="/public/client/router.js"></script>
</body>

</html>