<h2>Chat!</h2>

<div id="chat-container" class="layout">
    <div id="chat-messages">
        {{#each messages}}
            {{> components/chat/message message=this}}
        {{/each}}
    </div>
    <form id="chat-input" onsubmit="sendMessage(event)" method="POST">
        <input type="text" required name="message" placeholder="Message...">
        {{#> components/button}}Send{{/components/button}}
    </form>
</div>

<script>
    const currentUrl = window.location.origin;
    const wsProtocol = currentUrl.startsWith('https') ? 'wss' : 'ws';
    const wsUrl = currentUrl.replace(/^http/, 'ws');
    const socket = new WebSocket(`${wsUrl}/chat/ws`);

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        const messageContainer = document.getElementById('chat-messages');
        messageContainer.innerHTML += data.html;
    }

    function sendMessage(event) {
        event.preventDefault();
        const message = event.target.message.value;
        if (message.trim() === '') {
            return;
        }
        socket.send(message);
        event.target.reset();
    }
</script>