<h2>Chat!</h2>

<div id="chat-container" class="layout">
    <div id="chat-messages">
        {{#each messages}}
            {{> components/chat/message message=this}}
        {{/each}}
    </div>
    <div id="chat-input">
        <input type="text" id="message-input" placeholder="Message...">
        {{#> components/button onClick="sendMessage()"}}Send{{/components/button}}
    </div>
</div>

<script>
    const currentUrl = window.location.origin;
    const wsProtocol = currentUrl.startsWith('https') ? 'wss' : 'ws';
    const wsUrl = currentUrl.replace(/^http/, 'ws');
    const socket = new WebSocket(`${wsUrl}/chat/ws`);

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        const messageContainer = document.getElementById('chat-messages');
        messageContainer.innerHTML += data.html;
    }

    function sendMessage() {
        const messageInput = document.getElementById('message-input');
        const message = messageInput.value;
        socket.send(message);
        messageInput.value = '';
    }
</script>