<script>
	// if this is loaded redirect to / and force reload
	if (window.location.pathname !== '/') {
		window.location.replace('/');
	}
</script>
<noscript>
	<a href="/">Click here to reload</a>
	<p>JavaScript is disabled in your browser. Please enable JavaScript to use this application.</p>
</noscript>
