<div class="layout mx-auto max-w-2xl p-8">
  <h1 class="mb-6 text-2xl font-bold text-gray-100">User Profile</h1>

  <div class="mb-6 rounded-2xl border-2 p-6 shadow-md">
    <h2 class="mb-4 text-lg font-medium text-gray-200">Current Information</h2>
    <img
      src="{{imageUrl}}"
      alt="User Avatar"
      class="mb-4 h-24 w-24 rounded-full"
    />
    <form
      method="POST"
      action="/profile/update/image"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        name="image"
        accept="image/jpeg, image/png, image/gif"
        required="required"
      />
      <input type="submit" />
    </form>
    <div class="mb-2 flex items-center gap-2">
      <span class="font-medium text-gray-300">User ID:</span>
      <span class="text-gray-300">{{userId}}</span>
    </div>
    <div class="flex items-center gap-2">
      <span class="font-medium text-gray-300">Username:</span>
      <span id="current-username" class="text-gray-300">{{userName}}</span>
      <form
        id="edit-username-form"
        hidden="hidden"
        onsubmit="profileEditor.saveUsername(event)"
        method="post"
      >
        <input type="text" required name="username" value="{{userName}}" />
        <button id="save-username">Save</button>
      </form>
      <button
        id="edit-username-button"
        onclick="profileEditor.showEditUsernameForm()"
      >Edit</button>
    </div>
    <div id="error-message" class="p-3 text-red-500" hidden="hidden"></div>
  </div>
</div>

<script type="module" src="/public/js/profile.js">
</script>