<div class="layout mx-auto max-w-2xl p-8">
  <div class="mb-6 rounded-2xl border p-6 shadow-md transition-height overflow-hidden duration-300 ease-in-out">
    <div class="flex flex-row gap-4">
      <img
        src="{{imageUrl}}"
        alt="User Avatar"
        class="mb-4 h-24 w-24 rounded-full border"
      />
      <div>
        <p id="current-username" class="text-2xl">{{userName}}</p>
        <p class="text-sm text-fg-muted text-nowrap text-ellipsis"># {{userId}}</p>
        <button class="hover:scale-90 cursor-pointer text-sm text-fg-muted" onclick="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" class="inline w-3 h-3 mr-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
          Logout
        </button>
        <div class="flex flex-row flex-wrap gap-2 mt-2">
           {{#> components/button id="edit-username-button" onclick="profileEditor.showEditUsernameForm()" variant="outline"}}
            Edit Username
           {{/components/button}}
           {{#> components/button id="edit-profile-picture-button" onclick="profileEditor.showEditProfilePictureForm()" variant="outline"}}
            Edit Picture
           {{/components/button}}
          <div class="flex items-center gap-2 mt-4">
            <form
              id="edit-username-form"
              hidden="hidden"
              onsubmit="profileEditor.saveUsername(event)"
              method="post"
              class="w-full flex flex-col gap-3"
            >
                <input type="text" required id="edit-username-input" onfocus="this.value = this.value;" class="input" name="username" placeholder="New Username..." minlength="3" maxlength="30" />
                <div class="flex gap-2">
                  {{#> components/button type="submit"}}
                    Save
                  {{/components/button}}
                  {{#> components/button type="button" variant="outline" onclick="profileEditor.hideEditUsernameForm()"}}
                    Cancel
                  {{/components/button}}
              </div>
            </form>
          </div>

          <form
            id="edit-profile-picture-form"
            method="POST"
            action="/profile/update/image"
            enctype="multipart/form-data"
            onsubmit="profileEditor.saveProfilePicture(event)"
            hidden="hidden"
            class="mt-4"
          >
            <div class="flex flex-col gap-3">
              <input
                type="file"
                name="image"
                accept="image/jpeg, image/png, image/gif"
                required="required"
                class="input"
              />
              <div class="flex gap-2">
                {{#> components/button type="submit"}}
                  Update Image
                {{/components/button}}
                {{#> components/button type="button" variant="outline" onclick="profileEditor.hideEditProfilePictureForm()"}}
                  Cancel
                {{/components/button}}
              </div>
            </div>
          </form>

          <div id="profile-error-message" class="p-3 text-red-500" hidden="hidden"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<script type="module" src="/public/js/profile.js">
</script>