<div id="bracket"
     class="flex flex-row justify-around relative font-mono">
  {{!-- one column per round --}}
  {{#each rounds as |round r|}}
    <div class="border rounded-lg p-2 pb-6">
      <div class="text-center">{{round.name}} </div>
      <div class="flex flex-col justify-around h-full">
        {{!-- iterate over round.matches instead of round --}}
        {{#each round.matches as |match i|}}
          {{> components/tournament-view/match match=match}}
        {{/each}}
      </div>
    </div>
  {{/each}}

  <svg id="lines"
       class="absolute inset-0 pointer-events-none select-none"></svg>
</div>

<script>
  window.__ROUNDS__ = {{{json rounds}}};
  window.__CONNECTIONS__ = {{{json connectionConfig}}};
</script>
