<div class="layout mt-4 flex flex-col justify-center">
	<h1>Your Friends</h1>
	<div class="flex flex-col divide-y divide-bg-muted">
		{{#each friends}}
			{{> components/user/card userId=userId userName=userName imageUrl=imageUrl showRemoveButton="true" showText="true"}}
		{{else}}
			<p>You have no friends yet.</p>
		{{/each}}
	</div>
</div>

<script type="module" src="public/js/friends.js"></script>