<div class="flex flex-col gap-2">
  <h2>
    game over: {{user.userName}} won!
  </h2>
  <img
  src="{{user.imageUrl}}"
  alt="User Avatar"
  class="bg-bg-muted size-12 rounded-full border object-cover"
  />
</div>
