<div class="flex flex-col gap-2 justify-center items-center min-h">
  <p class="text-fg-muted">Game Over</p>
  <h2>
    {{user.userName}} won!
  </h2>
  <img
  src="{{user.imageUrl}}"
  alt="User Avatar"
  class="bg-bg-muted size-12 rounded-full border object-cover"
  />
    {{#if isTournament}}
      {{#> components/button url=(add "/games/tournament/join/" tournamentId) variant="fancy" class="mt-6"}}
          Continue...
      {{/components/button}}
    {{else}}
      {{#> components/button url="/play" variant="fancy" class="mt-6"}}
          Play again!
      {{/components/button}}
    {{/if}}
</div>
