<div class="chat-message {{#if message.isOwnMessage}}chat-message-own{{else}}chat-message-other{{/if}}">
    <div class="chat-message-header">
        <span class="chat-message-username">{{message.userName}}</span>
        <span class="chat-message-time">{{message.timestamp}}</span>
    </div>
    <div class="chat-message-content text-bg">
        {{message.message}}
    </div>
</div>
