<div class="chat-room flex items-center p-3 rounded-lg cursor-pointer mb-2" data-room-id="{{room.id}}" onclick="selectRoom(event)">
    <div class="chat-room-name font-medium text-gray-700">
        {{room.name}}
    </div>
</div>