<div class="mt-8 flex flex-col items-center justify-center gap-4" id="lobby-container">
  <p class="text-fg-muted text-sm">
    {{#if lobby.isPrivate}}
      Private Lobby
    {{else}}
      Public Lobby
    {{/if}}
  </p>
  <h1>{{hrGameModeName lobby.gameSettings.gameModeName}}</h1>
  <button class="text-sm text-fg-muted underline italic cursor-pointer" onclick="lobbyHandler.leaveLobby(event)">Leave</button>
  <div class="flex flex-wrap justify-center gap-8 mt-8">
    {{#each lobby.members}}
      {{#with this}}
        {{#> components/lobby/user
          userId=userId
          imageUrl=(add "/image/" image_id)
          userName=username
          ready=isReady
          owner=(eq id ../lobby.lobbyOwner)
        }}
        {{/components/lobby/user}}
      {{/with}}
    {{/each}}
  </div>
  {{#unless isReady}}
    {{#> components/button onclick="lobbyHandler.setReady"}}
      I'm ready
    {{/components/button}}
  {{/unless}}

  {{#if isOwner}}
    {{#if allMembersReady}}
      {{#> components/button onclick="lobbyHandler.startLobby"}}
        Start Game
      {{/components/button}}
    {{/if}}
    <div class="flex flex-col items-center justify-center gap-4">
      {{#> components/button onclick="lobbyHandler.addAiOpponent" variant="outline"}}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bot-icon lucide-bot"><path d="M12 8V4H8"/><rect width="16" height="12" x="4" y="8" rx="2"/><path d="M2 14h2"/><path d="M20 14h2"/><path d="M15 13v2"/><path d="M9 13v2"/></svg>
        Add AI Opponent 
      {{/components/button}}
    </div>
  {{/if}}
  <div class="hidden border-error border text-error p-4 rounded text-xs" id="lobby-error">
  </div>
  {{#if lobbyString}}
    <pre class="mt-8 p-1 bg-bg-muted rounded w-full text-wrap break-words">
      {{lobbyString}}
    </pre>
  {{/if}}
</div>

<script type="module" src="/public/js/lobby.js"></script>