<td class="px-3 text-center border  rounded-lg
      {{#if isWinner}}bg-green-900/50 border-green-900/100 text-white
      {{else}}bg-gray-900/50 border-gray-900/100 text-white
      {{/if}}">
  {{score}}
</td>