<header>
  <div class="border-b py-4">
    <div class="layout">
      <h1>ft_transcendence</h1>
      <nav>
        <a href="/">Home</a>
        |
        <a href="/about">About</a>
      </nav>
    </div>
  </div>
</header>